page-marker-map-pager {
  #Point_map{
    width: 100%;
    height: 100%;
  }

  #map_poi_details{
    position: absolute;
    bottom: 20px;
    margin-left: 15px;
    width: calc(100% - 30px);
    background-color: white;
    border: #c1c1c1 solid 1px;
    border-radius: 5px;

  }

  .card-ios {
    margin: 0;
    box-shadow: none;
    border-radius: 0;
  }

  .card-ios p:before,.card-md p:before{
    content:"";
    display:inline-block;
    width:0.4em;
    height:0.4em;
    margin-right:0.4em;
    border-radius:50%;
    border:solid 1px #ebb650;
  }

  .distancestyle{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  .padBottom-100 {
    width: 100%;
    height: 100px;
    // padding-bottom: 80%;
    overflow: hidden;
    background-position: center center;
    background-size: cover;
  }
}
