page-me-page {

  .mid_div{
    height: 300px;
    width: 50px;
    position: absolute;
    top:20%;
    left: 170px;
  }

  .mid_name{
    line-height: 1em;
    margin: auto;
    color: #fdf9f4;
    margin: 8px;
    border: rgba(25,25,55,0.5) solid 1px;
    width: calc(100% - 16px);
    height: calc(100% - 16px);
    text-align: center;
    vertical-align: middle;
  }

  .mid_name_2{
    writing-mode:vertical-rl;
    -webkit-writing-mode: vertical-rl;
    letter-spacing: 10px;
    line-height: 20px;
    vertical-align: middle;
    height: 100%;
    margin: auto;
    text-align: center;
    font-size: 1.7rem;
    color: #2d2d2d;
  }
}
